#cloud-config
ssh_pwauth: true
chpasswd:
  expire: false
groups:
  - sudo
users:
  - name: {{ vm_username }}
    groups: sudo
    shell: /bin/bash
    lock_passwd: false
    plain_text_passwd: {{ vm_password }}
write_files:
  - path: /etc/netplan/01-netcfg.yaml
    permissions: '0644'
    content: |
      network:
        version: 2
        ethernets:
          ens3:
            addresses: [{{ item[1].ip }}/24]
            gateway4: 192.168.100.1
            nameservers:
              addresses: [8.8.8.8]
  - path: /etc/ssh/sshd_config.d/99-cloud-init.conf
    content: |
      PasswordAuthentication yes
      PermitRootLogin no
runcmd:
  - netplan generate
  - netplan apply
  - systemctl restart ssh
