[controlplanes]
{% for i in range(1, control_planes|int + 1) %}
controlplane{{ '%02d' | format(i) }} ansible_host=192.168.100.{{ 210 + i }}
{% endfor %}

[workernodes]
{% for i in range(1, worker_nodes|int + 1) %}
node{{ '%02d' | format(i) }} ansible_host=192.168.100.{{ 220 + i }}
{% endfor %}

{% if control_planes|int > 1 %}
[loadbalancers]
loadbalancer ansible_host=192.168.100.200
{% endif %}

[k8s_cluster:children]
controlplanes
workernodes
{% if control_planes|int > 1 %}
loadbalancers
{% endif %}

[k8s_cluster:vars]
ansible_connection=ssh
ansible_user=andy
ansible_password=x
ansible_ssh_common_args='-o StrictHostKeyChecking=no'
ansible_ssh_private_key_file={{ playbook_dir }}/ansible_key
ansible_become=true
ansible_become_method=sudo
