---
# Add host injection at the start
- name: Inject hostnames and IP addresses into /etc/hosts
  ansible.builtin.blockinfile:
    path: /etc/hosts
    marker: "# {mark} ANSIBLE MANAGED HOSTS INVENTORY"
    block: |
      {% for host in groups['k8s_cluster'] %}
      {{ hostvars[host].ansible_host }} {{ hostvars[host].inventory_hostname }}
      {% endfor %}
  become: true

- name: Remove invalid IP line from /etc/environment
  become: true
  ansible.builtin.lineinfile:
    path: /etc/environment
    regexp: '^\d{1,3}(\.\d{1,3}){3}$'
    state: absent

# - name: Wait for APT locks
#   shell: |
#     while lsof /var/lib/dpkg/lock-frontend >/dev/null 2>&1; do
#       echo "Waiting for other apt processes to finish..."
#       sleep 5
#     done
#   register: apt_wait
#   changed_when: false
#   become: true

- name: Update and upgrade system packages
  ansible.builtin.apt:
    update_cache: true
    upgrade: true
    cache_valid_time: 3600
  become: true
  # when: apt_wait is success

- name: Allow Kubernetes, Cilium, and Hubble required ports with UFW
  community.general.ufw:
    rule: allow
    port: "{{ item.port }}"
    proto: "{{ item.proto }}"
  loop:
    # Kubernetes core ports
    - { port: "6443", proto: "tcp" }
    - { port: "2379", proto: "tcp" }
    - { port: "2380", proto: "tcp" }
    - { port: "10250", proto: "tcp" }
    - { port: "10251", proto: "tcp" }
    - { port: "10252", proto: "tcp" }
    - { port: "10255", proto: "tcp" }
    - { port: "30000:32767", proto: "tcp" }
    # Cilium ports
    - { port: "4240", proto: "tcp" }
    - { port: "4240", proto: "udp" }
    - { port: "4244", proto: "tcp" }
    - { port: "8472", proto: "udp" }
    # Hubble ports
    - { port: "4245", proto: "tcp" }
    - { port: "4245", proto: "udp" }
    - { port: "4246", proto: "tcp" }
    - { port: "4246", proto: "udp" }
  become: true


- name: Disable swap
  ansible.builtin.shell: |
    swapoff -a
    sed -i '/ swap / s/^/#/' /etc/fstab
    sed -i '/\/swap.img/ s/^/#/' /etc/fstab
    rm -f /swapfile /swap.img
  become: true

- name: Configure kernel modules
  ansible.builtin.template:
    src: k8s.conf.j2
    dest: /etc/modules-load.d/k8s.conf
  become: true

- name: Load kernel modules
  ansible.builtin.shell: |
    modprobe overlay
    modprobe br_netfilter
  become: true

- name: Configure sysctl parameters
  ansible.builtin.template:
    src: kubernetes.conf.j2
    dest: /etc/sysctl.d/kubernetes.conf
  become: true

- name: Apply sysctl parameters
  ansible.builtin.shell: sysctl --system
  become: true

- name: Install required packages
  ansible.builtin.apt:
    name: 
      - curl
      - gnupg2
      - software-properties-common
      - apt-transport-https
      - ca-certificates
    state: present
  become: true
